<div class="row">
    <section class="panel" id="maccount">
        <section class="panel-body table-holder">
            <div>
                <div class="col-md-4"><label>Email</label></div>
                <div class="col-md-8"><input id="user_email" name="user[email]" type="text" value="w************4@hotmail.com"></div>
            </div>
            <div>
                <div class="col-md-4"><label>Change Language</label></div>
                <div class="col-md-8">
                    <select name="reason" class="">
                        <option value="0">Choose a Language</option>
                        <optgroup label="language" >
                            <option>English</option>
                            <option>Arabic</option>
                        </optgroup>

                    </select>
                </div>
            </div>
            <div>
                <div class="col-md-4"><label>Online Status</label></div>
                <div class="col-md-8">
                    <select>
                             <option>GO offline for</option>
                             <option>1 Hour</option>
                             <option>1 Day</option>
                             <option>1 Week</option>
                             <option>Forever</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="col-md-12 "><span class="pull-right btn savechanges">Save Changes</span></div>
            <div class="clearfix"></div>
            <hr />
            <div class="clearfix"></div>
            <div>
                <div class="col-md-4"><label>Account Deactivation</label></div>
                <div class="col-md-8">
                    <strong>What happens when you deactivate your account?</strong>
                    <ul>
                       <li> Your profile and Gigs won't be shown on Fiverr anymore.</li>
                       <li>  Active orders will be cancelled.</li>
                        <li>  You won't be able to re-activate your Gigs.</li>
                     </ul>
                </div>
            </div>
            <div>
                <div class="col-md-4"><label>I'm leaving because...</label></div>
                <div class="col-md-8">
                    <select name="reason" class="">
                        <option value="0">Choose a reason</option>
                        <optgroup label="Account" issues="">
                            <option>Unsubscribe from Fiverr emails</option>
                            <option>I want to change my username</option>
                            <option>I have another Fiverr account</option>
                            <option>Other</option>
                        </optgroup>


                        <optgroup label="Buying" issues="">
                            <option>I can't find what I need on Fiverr</option>
                            <option>Fiverr is complicated or hard to use</option>
                            <option>Negative experience with seller/s</option>
                            <option>I'm unhappy with Fiverr's policies</option>
                            <option>Other</option>
                        </optgroup>

                        <option>Something else</option>
                    </select>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 "><span class="pull-right btn disablt">Deactivate</span></div>
            <div class="clearfix"></div>
        </section>
    </section>
</div>