<div class="col-md-12">
    <div class="contTitle">
        <h2>Recently Viewed</h2> 
    </div>
    </div>
    <div>
        <div class="col-md-12">
            <div class="owl-carousel-6">
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1></div>
                                <div class="clearfix"></div>
                                <div><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="problock">
                        <a href="javascript:void(0)" (click)="projectDetail()">
                            <div>
                                <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
                                <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
                                <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
                            </div>
                        </a>
                        <div class="tag">
                            <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="text-align:center"><button class="btn seeAll" (click)="projectListing()">See All</button></div>