<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="dbsection">
            <div class="container">
                <div class="process">
                    <ul class="process-row nav nav-tabs">
                        <li class="process-step active">
                            <a data-toggle="tab" href="#menu1">Overview</a>
                        </li>
                        <li class="process-step">
                            <a data-toggle="tab" href="#menu2">Upload Files</a>
                        </li>
                        <li class="process-step">
                            <a data-toggle="tab" href="#menu3">Publish</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="tab-content">
                    <div id="menu1" class="tab-pane row fade active in">
                        
                        <div class="col-md-10 col-md-offset-1 dbsidebar">

                            <div class="content">
                                <div class="col-md-8">
                                    <div class="row">
                                        <section class="gig-create">
                                            <div>
                                                <div class="col-md-3"><label>PROJECT TITLE</label></div>
                                                <div class="col-md-9"><div><textarea placeholder="Project Title" rows="2" maxlength="80"></textarea></div>
                                                    <div class="char-count"><em>0</em> / 80 max</div>
                                                    <div class="clearfix">&nbsp;</div>
                                                </div>
                                                
                                            </div>
                                            <div>
                                                <div class="col-md-3"><label>PROJECT DETAILS</label></div>
                                                <div class="col-md-9">
                                                    <div class="smalltxt">Start with a bit about yourself or your business, and include an overview of what you need done.</div>
                                                    <div><textarea placeholder="Tell us more about your project" rows="5" maxlength="500"></textarea></div>
                                                    <div class="char-count"><em>0</em> / Up to 500 items</div>
                                                    
                                                </div><div class="clearfix">&nbsp;</div>
                                            </div>
                                            <div>
                                                <div class="col-md-3"><label>WHAT SKILL ARE REQUIRED</label></div>
                                                <div class="col-md-9">
                                                    <div class="smalltxt">Enter up to 5 skills that best describe your project. Freelancers will use these skills to find projects they are most interested and experienced in.</div>
                                                    
                                                    <div>
                                                        <div class="col-md-12 filterfile">
                                                            <ul class="filter-multi-long">
                                                                <li><label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="jpeg" value="jpeg">
                                                                        <span class="chk-img"></span>
                                                                        Graphics Design
                                                                    </label>
                                                                </li>
                                                                <li>

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="file_format" value="png">
                                                                        <span class="chk-img"></span>
                                                                        HTML
                                                                    </label>
                                                                </li>
                                                                <li>

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="file_format" value="psd">
                                                                        <span class="chk-img"></span>
                                                                        PHP
                                                                    </label>
                                                                </li>
                                                                <li>

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="file_format" value="pdf">
                                                                        <span class="chk-img"></span>
                                                                        Website Design
                                                                    </label>
                                                                </li>
                                                                <li>

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="file_format" value="tiff">
                                                                        <span class="chk-img"></span>
                                                                        Wordpress
                                                                    </label>
                                                                </li>
                                                                <li>

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="file_format" value="raw">
                                                                        <span class="chk-img"></span>
                                                                        Javascript
                                                                    </label>
                                                                </li>
                                                                <li class="cf type-checkbox">

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="website" value="website">
                                                                        <span class="chk-img"></span>
                                                                        Website
                                                                    </label>
                                                                </li>
                                                                <li class="cf type-checkbox">

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="Landing Page" value="Landing Page">
                                                                        <span class="chk-img"></span>
                                                                        Landing Page
                                                                    </label>
                                                                </li>
                                                                <li class="cf type-checkbox">

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="Mobile App" value="Mobile App">
                                                                        <span class="chk-img"></span>
                                                                        Mobile App
                                                                    </label>
                                                                </li>
                                                                <li class="cf type-checkbox">

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="Email Template" value="Email Template">
                                                                        <span class="chk-img"></span>
                                                                        Email Template
                                                                    </label>
                                                                </li>
                                                                <li class="cf type-checkbox">

                                                                    <label class="fake-check-black check-text">
                                                                        <input type="checkbox" name="html" value="HTML">
                                                                        <span class="chk-img"></span>
                                                                        HTML
                                                                    </label>
                                                                </li>
                                                               
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="clearfix">&nbsp;</div>
                                                <span class="buttons-wrapper">
                                                    <button type="button" class="btn btn-white" value="Cancel">Cancel</button>
                                                    <button type="submit" class="btn btn-update" value="Update">Save & Continue</button>

                                                </span>
                                            </div>
                                            
                                        </section>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <aside class="rightbar">
                                                    <h3>Start Defining Your Project</h3>
                                                    <div style="text-align:center;"><span class="yorgig"><img alt="" src="assets/img/rocket2.svg" /></span></div>
                                                    <ul><li>Create a catchy title.</li><li>Choose a category that fits your Project.</li>
                                            <li>Add meta data to help buyers find more information regarding your Project. further information regarding your Project.</li>
                                            <li>Add tags to help buyers find your Project while searching.</li></ul>
                                            </aside>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                       
                    </div>
                   
                                <div id="menu2" class="tab-pane fade">
                                    <div class="col-md-10 col-md-offset-1 dbsidebar">

                                        <div class="content">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <section class="gig-create">
                                                        <div>
                                                            
                                                            <div class="col-md-12">
                                                                <article class="gallery-section">
                                                                <h2>Upload Files</h2>
                                                                <h3>Upload Photos <br /><small>Upload photos that describe or are related to your Gig.</small></h3>
                                                                <ul>
                                                                    <li class="gallery-item-placeholder b-0  ">
                                                                        <div class="dropzone">
                                                                            <div class="dropzone-body image">
                                                                                Drag a Photo or <br><label for="image">
                                                                                    browse
                                                                                    <input type="file" id="image" name="file" multiple="">
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    </ul>

                                                                    <h3>Upload Video <br /><small>Upload video that describe or are related to your Gig.</small></h3>
                                                                    <ul>
                                                                        <li class="gallery-item-placeholder b-0  ">
                                                                            <div class="dropzone">
                                                                                <div class="dropzone-body video">
                                                                                    Drag a Video or <br><label for="image">
                                                                                        browse
                                                                                        <input type="file" id="image" name="file" multiple="">
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>

                                                                    <h3>Upload PDF <br /><small>Upload PDF that describe or are related to your Gig.</small></h3>
                                                                    <ul>
                                                                        <li class="gallery-item-placeholder b-0  ">
                                                                            <div class="dropzone">
                                                                                <div class="dropzone-body pdf">
                                                                                    Drag a File or <br><label for="image">
                                                                                        browse
                                                                                        <input type="file" id="image" name="file" multiple="">
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                   </article>
                                                                <div class="clearfix">&nbsp;</div>
                                                            </div>

                                                        </div>

                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <aside class="rightbar">
                                                        <h3>Photos</h3>
                                                        <div style="text-align:center;"><span class="yorgig"><img alt="" src="assets/img/gallery.svg" /></span></div>
                                                        <ul>
                                                            <li>Files must be in JPEG, JPG, PNG • 3 file limit.
The quality of the photos you display will influence customers. Get help from expert photoshop talent here.</li>
                                                            <li>Videos can increase user engagement by 40%.
Ensure the production quality is representative of your deliveries.
Need help with your video? Check out our Fiverr expert audio/video talent here.</li>
                                                            <li>The quality of the content in your PDFs will influence potential customers</li>
                                                        </ul>
                                                    </aside>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="col-md-10 col-md-offset-1 dbsidebar">

                                        <div class="content">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <section class="gig-create">
                                                        <div>

                                                            <div class="col-md-12">
                                                                <article class="gallery-section">
                                                                    <h2>Congratulations!</h2>
                                                                    <h3>Verify it <br /><small>You’re almost done with your first Gig.</small></h3>
                                                                </article>
                                                                <div class="clearfix">&nbsp;</div>
                                                                <span class="buttons-wrapper">
                                                                    <button type="button" class="btn btn-white" value="Cancel">Cancel</button>
                                                                    <button type="submit" class="btn btn-update" value="Update">Verify</button>

                                                                </span>
                                                                <div class="clearfix">&nbsp;</div>
                                                            </div>

                                                        </div>

                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <aside class="rightbar">
                                                        <h3>Photos</h3>
                                                        <div style="text-align:center;"><span class="yorgig"><img alt="" src="assets/img/launch.svg" /></span></div>
                                                        
                                                    </aside>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="clearfix"></div>
    </div>

</div>
<app-footer></app-footer>