<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="dbsection">
            <div class="container">
                <div class="process">
                    <ul class="process-row nav nav-tabs">
                        <li class="process-step" class="{{createTab=='1' ? 'active': ''}}" (click)="setProjectTopTabs('1')">
                            <a data-toggle="tab" href="#menu1">Overview</a>
                        </li>
                        <li class="process-step" class="{{createTab=='2' ? 'active': ''}}" (click)="setProjectTopTabs('2')">
                            <a data-toggle="tab" href="#menu2">Upload Files</a>
                        </li>
                        <li class="process-step" class="{{createTab=='3' ? 'active': ''}}" (click)="setProjectTopTabs('3')">
                            <a data-toggle="tab" href="#menu3">Publish</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="tab-content">
                    <div id="menu1" class="tab-pane row fade" class="{{createTab=='1' ? 'active in': ''}}" *ngIf="createTab=='1'">
                        
                        <div class="col-md-10 col-md-offset-1 dbsidebar">

                            <div class="content">
                                <div class="col-md-8">
                                    <form #formProjectFirstStep="ngForm" >
                                    <div class="row">
                                        <section class="gig-create">
                                            <div>
                                                <div class="col-md-3"><label>PROJECT TITLE</label></div>
                                                <div class="col-md-9">
                                                    <div><input type="text" name="project_title" [(ngModel)]="project_title" class="first-name" maxlength="35" placeholder="Project Title" required></div>
                                                    <div class="clearfix">&nbsp;</div>
                                                </div>
                                                
                                            </div>
                                            <div>
                                                <div class="col-md-3"><label>PROJECT DETAILS</label></div>
                                                <div class="col-md-9">
                                                    <div class="smalltxt">Start with a bit about yourself or your business, and include an overview of what you need done.</div>
                                                    <div><div id="project_description_editor" contenteditable="true"  class="homeDescTxt"></div></div>
                                                    <div class="char-count"><em>0</em> / Up to 500 items</div>
                                                    
                                                </div><div class="clearfix">&nbsp;</div>
                                            </div>
                                            <div>
                                                <div class="col-md-3"><label>PROJECT Budget</label></div>
                                                <div class="col-md-9">
                                                    <div><input type="text" name="proj_budget" [(ngModel)]="proj_budget" class="first-name" maxlength="35" placeholder="Project Budget" required></div>
                                                    <div class="clearfix">&nbsp;</div>
                                                </div><div class="clearfix">&nbsp;</div>
                                            </div>
                                            <div>
                                                    <div class="col-md-3"><label>Project Category</label></div>
                                                    <div class="col-md-9">
                                                        <select name="selectedCategory" class="" (ngModelChange)="filterSubCategories($event);" [(ngModel)]="selectedCategory">
                                                            <option value="">Choose a Category</option>
                                                            <option *ngFor="let category of allCategoryList" value={{category.id}}>
                                                                {{category.name}}
                                                            </option>
                                    
                                                        </select>
                                                    </div>
                                                </div>
                                                <div>
                                                        <div class="col-md-3"><label>Project Sub-Category</label></div>
                                                        <div class="col-md-9">
                                                            <select name="selectedSubCategory" class="" [(ngModel)]="selectedSubCategory">
                                                                <option value="">Choose a Sub-Category</option>
                                                                <option *ngFor="let subCategory of filteredSubCategoryList" value={{subCategory.id}}>
                                                                    {{subCategory.name}}
                                                                </option>
                                        
                                                            </select>
                                                        </div>
                                                    </div>
                                            <div>
                                                <div class="col-md-3"><label>WHAT SKILL ARE REQUIRED</label></div>
                                                <div class="col-md-9">
                                                    <div class="smalltxt">Enter up to 5 skills that best describe your project. Freelancers will use these skills to find projects they are most interested and experienced in.</div>
                                                    
                                                    <div>
                                                        <div class="col-md-12 filterfile">
                                                            <ul class="filter-multi-long">
                                                                <li *ngFor="let skill of allSkillsList">
                                                                        <input type="checkbox" class="fake-check-black check-text" (click)="setSelectedPackage(skill)">
                                                                        {{skill.name}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="clearfix">&nbsp;</div>
                                                <span class="buttons-wrapper">
                                                    <button type="button" class="btn btn-white" value="Cancel" (click)="cancelProject()">Cancel</button>
                                                    <button type="submit" class="btn btn-update" value="Update" (click)="projectFirstStep()" [disabled]="!formProjectFirstStep.valid">Save & Continue</button>
                                                </span>
                                            </div>
                                            
                                        </section>
                                    </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <aside class="rightbar">
                                                    <h3>Start Defining Your Project</h3>
                                                    <div style="text-align:center;"><span class="yorgig"><img alt="" src="assets/img/rocket2.svg" /></span></div>
                                                    <ul><li>Create a catchy title.</li><li>Choose a category that fits your Project.</li>
                                            <li>Add meta data to help buyers find more information regarding your Project. further information regarding your Project.</li>
                                            <li>Add tags to help buyers find your Project while searching.</li></ul>
                                            </aside>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                       
                    </div>
                   
                                <div id="menu2" class="tab-pane fade" class="{{createTab=='2' ? 'active in': ''}}" *ngIf="createTab=='2'">
                                    <div class="col-md-10 col-md-offset-1 dbsidebar">

                                        <div class="content">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <section class="gig-create">
                                                        <div>
                                                            
                                                            <div class="col-md-12">
                                                                <article class="gallery-section">
                                                                <h2>Upload Files</h2>
                                                                <h3>Upload Photos <br /><small>Upload photos that describe or are related to your Gig.</small></h3>
                                                                <ul>
                                                                    <li class="gallery-item-placeholder b-0  ">
                                                                        <div class="dropzone">
                                                                            <div class="dropzone-body image">
                                                                                Drag a Photo or <br><div class="imgCropperPreviewResult" *ngIf="dataProjectImage.image" >
                                                                                    <img [src]="dataProjectImage.image" [width]="projectWidth"
                                                                                    [height]="projectHeight">
                                                                                    </div>
                                                                          
                                                                                    <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" 
                                                                                    capture="camera" multiple (change)="projectFileChangeListener($event)">
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    </ul>

                                                                    <!--<h3>Upload Video <br /><small>Upload video that describe or are related to your Project.</small></h3>
                                                                    <ul>
                                                                        <li class="gallery-item-placeholder b-0  ">
                                                                            <div class="dropzone">
                                                                                <div class="dropzone-body video">
                                                                                    Drag a Video or <br><label for="image">
                                                                                        browse
                                                                                        <input type="file" id="image" name="file" multiple="">
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>-->

                                                                    <h3>Upload PDF <br /><small>Upload PDF that describe or are related to your Gig.</small></h3>
                                                                    <ul>
                                                                        <li class="gallery-item-placeholder b-0  ">
                                                                            <div class="dropzone">
                                                                                <div class="dropzone-body pdf">
                                                                                    Drag a File or <br><label for="image">
                                                                                        browse
                                                                                        <input type="file" id="image" name="file" multiple="">
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                   </article>
                                                                <div class="clearfix">&nbsp;</div>
                                                            </div>
                                                            <div class="col-md-12">
                                                            <div class="clearfix">&nbsp;</div>
                                                            <span class="buttons-wrapper">
                                                                    <button type="button" class="btn btn-white" value="Cancel" (click)="cancelProject()">Cancel</button>
                                                                <button type="submit" class="btn btn-update" value="Update" (click)="projectSecondStep()">Save & Continue</button>
                                                            </span>
                                                        </div>
                                                        </div>

                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <aside class="rightbar">
                                                        <h3>Photos</h3>
                                                        <div style="text-align:center;"><span class="yorgig"><img alt="" src="assets/img/gallery.svg" /></span></div>
                                                        <ul>
                                                            <li>Files must be in JPEG, JPG, PNG • 3 file limit.
The quality of the photos you display will influence customers. Get help from expert photoshop talent here.</li>
                                                            <li>Videos can increase user engagement by 40%.
Ensure the production quality is representative of your deliveries.
Need help with your video? Check out our Fiverr expert audio/video talent here.</li>
                                                            <li>The quality of the content in your PDFs will influence potential customers</li>
                                                        </ul>
                                                    </aside>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade" class="{{createTab=='3' ? 'active in': ''}}" *ngIf="createTab=='3'">
                                    <div class="col-md-10 col-md-offset-1 dbsidebar">

                                        <div class="content">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <section class="gig-create">
                                                        <div>

                                                            <div class="col-md-12">
                                                                <article class="gallery-section">
                                                                    <h2>Congratulations!</h2>
                                                                    <h3>Verify it <br /><small>You’re almost done with your first Gig.</small></h3>
                                                                </article>
                                                                <div class="clearfix">&nbsp;</div>
                                                                <span class="buttons-wrapper">
                                                                    <button type="button" class="btn btn-white" value="Cancel" (click)="cancelProject()">Cancel</button>
                                                                    <button type="submit" class="btn btn-update" value="Update" (click)="createProject()">Verify</button>

                                                                </span>
                                                                <div class="clearfix">&nbsp;</div>
                                                            </div>

                                                        </div>

                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <aside class="rightbar">
                                                        <h3>Photos</h3>
                                                        <div style="text-align:center;"><span class="yorgig"><img alt="" src="assets/img/launch.svg" /></span></div>
                                                        
                                                    </aside>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="clearfix"></div>
    </div>

</div>
<app-footer></app-footer>