<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="join"><h2>Forget Password</h2></div>
        <form class="form-signin">
            <div class="slogo"><img src="assets/img/slogo.png" /></div>
            <div class="main">
                Please give your email name to change your pasword.
                <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Email / Username" autofocus required>
                <a class="btn continuebtn"  href="javascript:void(0)" (click)="forgetPassword()">SEND</a>
                <span class="clearfix"></span>
            </div>
            <div class="login-footer">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        Not a member yet? <a href="javascript:void(0)" routerLink="/register">Join now</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>