<app-header></app-header>
<div class="container">
  <div id="category">
    <div class="fullwidthbanner-container">
        <div class="container">
            <div class="title wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
                <h2>Browse The Categories</h2>
               
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <div class="owl-carousel-6">
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="../assets/img/slid-logo.jpg" /></a></div>
                            <div class="catetitle"><a>Logo Design</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-dev.jpg" /></a></div>
                            <div class="catetitle"><a>Website Development</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-web.jpg" /></a></div>
                            <div class="catetitle"><a>Website Design</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-animate.jpg" /></a></div>
                            <div class="catetitle"><a>Animation</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-illustrat.jpg" /></a></div>
                            <div class="catetitle"><a>Illustration</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-seo.jpg" /></a></div>
                            <div class="catetitle"><a>SEO</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>
</div>

<app-footer></app-footer>
