<div class="noticontent notirow">
    <ul>
        <li><img alt="" src="assets/img/girl.png" /><span class="tesxt"><a href=""><strong>ryangillam</strong> <span>Delivered Your Order</span></a><br /><span class="smlltxt">8 hours ago <i class="fa fa-arrow-circle-o-right"></i></span></span></li>
        <li><img alt="" src="assets/img/boy.jpg" /><span class="tesxt"><a href=""><strong>hdjsjdjs</strong> <span>Delivered Your Order</span></a><br /><span class="smlltxt">2 hours ago <i class="fa fa-arrow-circle-o-right"></i></span></span></li>
        <li><img alt="" src="assets/img/girl.png" /><span class="tesxt"><a href=""><strong>djsjhdj</strong> <span>Delivered Your Order</span></a><br /><span class="smlltxt">4 hours ago <i class="fa fa-arrow-circle-o-right"></i></span></span></li>

    </ul>
</div>
