<div class="row">
    <section class="panel" id="secure">
        <div>
            <div class="col-md-4"><label>Curresnt Password</label></div>
            <div class="col-md-8"><input id="password" name="" type="text" value=""></div>
        </div>
        <div>
            <div class="col-md-4"><label>New Password</label></div>
            <div class="col-md-8"><input id="password" name="" type="text" value=""></div>
        </div>
        <div>
            <div class="col-md-4"><label>Confirm Password</label></div>
            <div class="col-md-8">
                <input id="password" name="" type="text" value="">
                <p>8 characters or longer. Combine upper and lowercase letters and numbers.</p>
            </div>

        </div>
        <div class="col-md-12 "><span class="pull-right btn savechanges">Save Changes</span></div>
        <div class="clearfix"></div>
        <hr />
        <div class="clearfix"></div>
        <div>
            <div class="col-md-4"><label>New Password</label></div>
            <div class="col-md-8">
                <select>
                    <option> What was the name of your elementary school?</option>
                    <option> What was the name of your first pet?</option>
                    <option>What was your childhood nickname?</option>
                    <option>In what city did your parents meet?</option>
                    <option>What is the name of your favorite childhood friend?</option>

                </select>
                <input name="" type="text" value="">
            </div>
            <div class="col-md-12 "><span class="pull-right"><a href="">Cancel</a>   &nbsp; <span class="btn savechanges">Submit</span></span></div>
        </div>
        </section>
</div>