<div class="todocontent">
  <div class="onerow"><a href=""><img alt="" src="assets/img/controls.svg" />Your user profile is incomplete. Please edit it</a><span class="hide show"><span class="btn updatenow"><a href="">Update Now!</a></span></span></div>
  <div class="onerow"><a href=""><img alt="" src="assets/img/selling.svg" />You can start selling in 5 minutes. You'd be crazy not to try!</a><span class="hide show"><span class="btn updatenow"><a href="">Create Now!</a></span></span></div>
  <div class="onerow"><a href=""><img alt="" src="assets/img/offers.svg" />You received a Custom Offer </a><span class="hide show"><span class="btn updatenow"><a href="">Recieve Now!</a></span></span></div>
</div>