<div class="infocanvas">
  <header class="step-header">
      <h1>Account Security</h1>
      <p>Trust and safety is a big deal in our community. Please verify your email and phone number so that we can keep your account secured.</p><small>* Mandatory fields</small>
      <hr>
  </header>
  <div class="security">
    <table>
      <tr>
          <td><span class="envelop"><i class="fa fa-envelope"></i></span>Email <small>Only visible to you</small></td>
          <td><button class="btn">Verified</button></td>
      </tr>
      
    </table>
      
  </div>

</div>
<ul class="list-unstyled list-inline pull-right">
    <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
    <li><button type="button" class="btn btn-success"><i class="fa fa-check"></i> Done!</button></li>
</ul>