<app-header></app-header>

<!--<div id="myteam">
  <div class="container">
  <div>
    <h2>Choose Your Best Team</h2>
  </div>

  <div>
    <div class="col-md-3"> <a href="">
      <div class="tmblock">
        <div class="tmicon"><img alt="web" src="../assets/img/tm-icon-web.png"></div>
        <div class="tmtxt">Web Developers</div>
      </div>
    </a>
    </div>
    <div class="col-md-3">
      <div class="tmblock">
        <div class="tmicon"><img alt="web" src="../assets/img/tm-icon-mobile.png"></div>
        <div class="tmtxt">Mobile Developers</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tmblock">
        <div class="tmicon"><img alt="design" src="../assets/img/tm-icon-design.png"></div>
        <div class="tmtxt">Graphics Designers</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tmblock">
        <div class="tmicon"><img alt="web" src="../assets/img/tm-icon-writers.png"></div>
        <div class="tmtxt">Writers and Translaters</div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-3">
      <div class="tmblock">
        <div class="tmicon"><img alt="web" src="../assets/img/tm-icon-social.png"></div>
        <div class="tmtxt">Social Marketers</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tmblock">
      <div class="tmicon"><img alt="web" src="../assets/img/tm-icon-finance.png"></div>
      <div class="tmtxt">Finance Experts</div>
    </div></div>
    <div class="col-md-3">
      <div class="tmblock">
        <div class="tmicon"><img alt="video" src="../assets/img/tm-icon-video.png"></div>
        <div class="tmtxt">Video / Animators</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tmblock">
        <div class="tmicon"><img alt="web" src="../assets/img/tm-icon-3d.png"></div>
        <div class="tmtxt">3D Modleing</div>
      </div>
    </div>
  </div>

  <div class="clear">&nbsp;</div><br /><br /> <div><span class="seeall">See All</span></div>
</div>
</div>
<div class="clear">&nbsp;</div>-->


    <!--=== Featured Section ===-->
    <div id="category">
        <div class="fullwidthbanner-container">
            <div class="container">
                <div class="title wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <h2>Browse The Categories</h2>
                </div>
            </div>
            <div>
              <div class="col-md-12">
                <div class="owl-carousel-6">
                    <div class="item" *ngFor="let category of allCategoryList; let last = last;" (click)="categoryListing(category.id)">
                        <div class="category" href="javascript:void(0)">
                            <div class="imgblck"><a><img alt="" [src]="category.image_url" /></a></div>
                            <div class="catetitle"><a>{{category.name}}</a></div>
                            <div class="text">{{category.description}}</div>
                        </div>
                        <div>{{runCarosel()}}</div>
                    </div>
                    <!--<div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-dev.jpg" /></a></div>
                            <div class="catetitle"><a>Website Development</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-web.jpg" /></a></div>
                            <div class="catetitle"><a>Website Design</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-animate.jpg" /></a></div>
                            <div class="catetitle"><a>Animation</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-illustrat.jpg" /></a></div>
                            <div class="catetitle"><a>Illustration</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category" href="javascript:void(0)" routerLink="/project-listing">
                            <div class="imgblck"><a><img alt="" src="assets/img/slid-seo.jpg" /></a></div>
                            <div class="catetitle"><a>SEO</a></div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                        </div>
                    </div>-->
                </div>
            </div>

            </div>
            <div style="text-align:center"><button class="btn btncategory" (click)="allCategories()">All Categories</button></div>
        </div>
    </div>

    <div id="process">
        <div class="title wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
            <h2>how it works</h2>
        </div>
        <div class="container">

            <div>
                <div class="col-md-3 textalign wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/profile.svg" width="70" height="70" /></span><div><p>CompleteYour Profile</p></div></div>
                <div class="col-md-3 textalign wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/browse.svg" width="70" height="70" /></span><div><p>Browse the JOb accordingly</p></div></div>
                <div class="col-md-3 textalign wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/bid.svg" width="70" height="70" /></span><div><p>Bid on Projects which suit you</p></div></div>
                <div class="col-md-3 textalign wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/reward.svg" width="70" height="70" /></span><div><p>Get the Reward on Project</p></div></div>
                </div>
            <div class="clear">&nbsp;</div><br /><br /> <br /><br /><div><span class="btngetstarted">get started</span></div>
        </div>
    </div>
<div class="clearfix"></div>

<div class="ourclients">

  <div class="container">
    <div class="wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
      <h2>What our Clients are saying</h2>

    </div>
    <div>
      <div class="col-md-12">
        <div class="owl-carousel-2">
          <div class="item">
            <div class="testimonal">
              <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
              <div class="name">Pamela</div>
              <div class="smalltxt"><span>Kelowna, BC</span></div>
            </div>
          </div>
         <div class="item">
            <div class="testimonal">
              <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
              <div class="name">Pamela</div>
              <div class="smalltxt"><span>Kelowna, BC</span></div>
            </div>
          </div>
          <div class="item">
            <div class="testimonal">
              <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
              <div class="name">Pamela</div>
              <div class="smalltxt"><span>Kelowna, BC</span></div>
            </div>
          </div>
          <div class="item">
            <div class="testimonal">
              <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
              <div class="name">Pamela</div>
              <div class="smalltxt"><span>Kelowna, BC</span></div>
            </div>
          </div>
          <div class="item">
            <div class="testimonal">
              <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
              <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
              <div class="name">Pamela</div>
              <div class="smalltxt"><span>Kelowna, BC</span></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="clear"></div>


    <div class="clear"></div>
    <!-- Contact Section -->
    <section id="contact" class="contacts-section2">
        <div class="container">

            <div class="row">
                <div class="col-md-10 wow slide-up-down-effect animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <h2>Just contact us to see how helpful we can be, obligation FREE</h2>
                </div>
                <div class="col-md-2 wow slide-up-down-effect animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <div><span class="contactbtn">Contact us</span></div>
                </div>


            </div>
        </div>
    </section>
    <!-- Contacts END -->
<app-footer></app-footer>
