<app-header></app-header>
    <!--=== Featured Section ===-->
    <div id="category">
        <div class="fullwidthbanner-container">
            <div class="container">
                <div class="title wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <h2>Browse The Categories</h2>
                   
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="owl-carousel-6">
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="../assets/img/cat1.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="assets/img/cat2.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="assets/img/cat3.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="assets/img/cat4.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="assets/img/cat2.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="assets/img/cat3.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="category">
                                <div class="imgblck"><a href=""><img alt="" src="assets/img/cat4.png" /></a></div>
                                <div class="catetitle"><a href="">Website Development</a></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="text-align:center"><button class="btn btncategory">All Categories</button></div>
        </div>
    </div>

    <div id="process">
        <div class="title wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
            <h2>how it works</h2>
        </div>
        <div class="container">

            <div>
                <div class="col-md-3 textalign wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/profile.svg" width="70" height="70" /></span><div><p>CompleteYour Profile</p></div></div>
                <div class="col-md-3 textalign wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/browse.svg" width="70" height="70" /></span><div><p>Browse the JOb accordingly</p></div></div>
                <div class="col-md-3 textalign wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/bid.svg" width="70" height="70" /></span><div><p>Bid on Projects which suit you</p></div></div>
                <div class="col-md-3 textalign wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/reward.svg" width="70" height="70" /></span><div><p>Get the Reward on Project</p></div></div>
                </div>
            <div class="clear">&nbsp;</div><br /><br /> <br /><br /><div><span class="btngetstarted">get started</span></div>
        </div>
    </div>

    <!--<div id="topfree">
        
        <div class="fullwidthbanner-container">
            <div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="contTitle">
                            <h2>Top Freelancers</h2>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="owl-carousel-6">
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre1.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre2.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre3.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre4.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre5.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre2.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="editorpick">
                                        <div class="imgblck"><a href=""><img alt="" src="assets/img/fre3.jpg" /></a></div>
                                        <div class="userblock">
                                            <div class="usertitle"><span><img alt="" src="assets/img/boy.jpg" /></span><a href="" class="title">Waqaskhan</a></div><div class="clearfix"></div>
                                            <div class="userdesc"><a href=""> I will create unique mindblowing illustration for you in minimum price .</a></div>
                                            <div class="alincenter"><span><span class="userstar"><img alt="" src="assets/img/star.png" /></span> <span class="colr">5.0</span> <span class="revs">(30)</span></span><span class="usercheck"><img alt="" src="assets/img/check.svg" /> </span></div>
                                        </div>
                                        <div class="userfot">
                                            <div><span><a href="" data-toggle="tooltip" data-placement="right" title="Add to Saved"><i class="fa fa-heart"></i></a></span><span class="pull-right"><span class="start">Starting at </span><span class="price">$150</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="text-align:center"><button class="btn seeAll">See All</button></div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="clearfix"></div>

    <div class="ourclients">
        <div><img alt="" src="assets/img/overlayheader.png" /></div>
        <div class="container">
            <div class="wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
                <h2>What our Clients are saying</h2>
         
            </div>
            <div>
                <div class="col-md-12">
                    <div class="owl-carousel-2">
                        <div class="item">
                            <div class="testimonal">
                                <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
                                <div class="name">Pamela</div>
                                <div class="smalltxt"><span>Kelowna, BC</span></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonal">
                                <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
                                <div class="name">Pamela</div>
                                <div class="smalltxt"><span>Kelowna, BC</span></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonal">
                                <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
                                <div class="name">Pamela</div>
                                <div class="smalltxt"><span>Kelowna, BC</span></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonal">
                                <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
                                <div class="name">Pamela</div>
                                <div class="smalltxt"><span>Kelowna, BC</span></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonal">
                                <div class="picture"><img alt="" src="assets/img/girl.png" /></div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque ligula vitae amet. Lorem ipsum dolor sit , consectetur adipiscing elit. Etiam scelerisque ligula vitae amet psum dolor sit .</div>
                                <div class="name">Pamela</div>
                                <div class="smalltxt"><span>Kelowna, BC</span></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="proaction">
        <div class="container">
            <div class="col-md-6">
                <h1>Hire  Experts or be hired. For any job, any time.</h1>
                <p>Bring to the table win-win servival stategies to ensure proactive domination. At the end of the day, going forward, new normal that has evolved from generation is on the runway towards.</p>
            <button class="btn btn-getstarted" >GET STARTED</button>
            </div>
        </div>
    </div>
    


    


    <div class="clear"></div>
    <!-- Contact Section -->
    <section id="contact" class="contacts-section2">
        <div class="container">

            <div class="row">
                <div class="col-md-10 wow slide-up-down-effect animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <h2>Just contact us to see how helpful we can be, obligation FREE</h2>
                </div>
                <div class="col-md-2 wow slide-up-down-effect animated" data-wow-offset="10" data-wow-duration="1.5s">
                    <div><span class="contactbtn">Contact us</span></div>
                </div>


            </div>
        </div>
    </section>
    <!-- Contacts END -->
<app-footer></app-footer>
