<div class="main-table">
    <table>
        <thead>
            <tr class="header-filter">
                <td colspan="6" class="js-filter-title">Sellers from whom you have purchased Gigs.</td>
            </tr>
            <tr class="js-header-titles">
                <td colspan="2">
                    Seller Name
                </td>
                <td>
                    <a href="#">Completed Orders</a>
                </td>
                <td>
                    <a href="#">Amount Spent</a>
                </td>
                <td>
                    <a href="#">Last Order</a>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-1.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-3.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-5.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-7.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-8.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-9.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-14.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
            <tr>
                <td class="profile-40  ">
                    <span class="user-pict-40">
                        <img src="assets/img/avatar-s-1.png" alt="ryangillam" width="40" height="40">
                    </span>
                </td>
                <td class="profile-hint">
                    <div class="fake-hint-wrap user-nav">
                        <span>ryangillam</span>
                    </div><div><div class="buyseller"><a href="#">User Profile</a> | <a href="#">History</a></div></div>
                </td>
                <td class="text-simple ">
                    1
                </td>
                <td class="text-simple ">$5</td>
                <td class="date  ">Jun 05, 17</td>
                <td class="action-btn t-a-right">
                    <a href="#" class="sndmsg"><i class="fa fa-envelope-o"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>