<div class="infocanvas">
  <header class="step-header">
      <h1>Linked Accounts</h1>
      <p>Taking the time to verify and link your accounts can upgrade your credibility and help us provide you with more business. Don’t worry, your information is and always will remain private.</p><small>* Mandatory fields</small>
      <hr>
  </header>
  <div class="socialconnect">
    <div>
      <h3>Your Social Presence</h3>
      <div class="sub-header">Only visible to you</div>
    </div>
    <div class="clearfix"></div>
    
    <table>
      <tr>
          <td><span class="facebook"><i class="fa fa-facebook"></i></span>Facebook</td>
          <td><button id="google" class="btn">Connect</button></td>
      </tr>
      <tr>
          <td><span class="linkedin"><i class="fa fa-linkedin"></i></span>LinedIn</td>
          <td><button id="google" class="btn">Connect</button></td>
      </tr>
      <tr>
          <td><span class="twitter"><i class="fa fa-twitter"></i></span>Twitter</td>
          <td><button id="google" class="btn">Connect</button></td>
      </tr>
      <tr>
          <td><span class="google"><i class="fa fa-google-plus"></i></span>Google</td>
          <td><button id="google" class="btn">Connect</button></td>
      </tr>
    </table>
  </div>

</div>