<div class="topmost" *ngIf="urlToUse=='home'">
    <div class="grBg"></div>
    <div class="header affix-top" role="navigation" data-spy="affix" data-offset-top="100">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logocls" href="javascript:void(0)" routerLink="/home"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" *ngIf="!userLoggedIn">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:void(0)" routerLink="/login">login</a></li>
                            <li><a href="javascript:void(0)"  routerLink="/register">sign up as client</a></li>
                            
                            <!--<li><a href="javascript:void(0)" routerLink="/create-project" class="otcbtn" >POST A PROJECT</a></li>-->
                          <li>
                            <select class="langdropdown" [(ngModel)]="selectedLanguage" name="selectedLanguage" (ngModelChange)="changeSelectedLanguage($event)">
                              <option value='1'>English</option>
                              <option value='2'>Arabic</option>
                            </select>
                          </li>

                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div><!--menu-->
        <!-- #navbar-name-here -->


        
    </div>

    <div class="clearfix"></div>

    <!--======= HOME MAIN SLIDER =========-->
    <span class="app-mockup hidden-sm hidden-xs fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
        <img alt="" src="assets/img/headergirl.png" />

    </span>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="col-md-6 ptb-115 sm-no-padding">
                    <h2><strong>Lorem ipsum dolor sit amet</strong></h2>
                    <h1><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </strong></h1>

                    <!--<div>
                        <div class="pleft col-md-10 search">
                            <input type="text" placeholder="Type here to Search">

                            <button type="button" style="margin-left: -15px" class="btn btn-search" (click)="searchProject()"> SEARCH</button>
                        </div>
                    </div>-->
                    </div>
                  
                </div>
            </div>

    </div>

    <div class="imgoverlay"></div>
</div>
<div class="logedheader affix-top" *ngIf="urlToUse!='home'" role="navigation" data-spy="affix" data-offset-top="100">
    <div>
        <nav class="navbar navbar-default">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logoclsmob" href="javascript:void(0)" routerLink="/home"></a>

                    <!--<app-simple-search></app-simple-search>-->
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="container" *ngIf="urlToUse=='login'">
                        <a class="logocls" href="javascript:void(0)" routerLink="/home"></a>
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a href="javascript:void(0)"  routerLink="/register">Become a Seller</a></li>-->
                            
                            <li><a href="javascript:void(0)" routerLink="/login">Sign In</a></li>
                            <li><a href="javascript:void(0)"  routerLink="/register" class="otcbtn1">Join as Client</a></li>
                            
                        </ul>
                    </div>
                    <div class="container" *ngIf="urlToUse!='login'&&urlToUse!='home'">
                            <a class="logocls" href="javascript:void(0)" routerLink="/home"></a>
                            <ul class="nav navbar-nav navbar-right">
                                <!--<li><a href="javascript:void(0)"  routerLink="/register">Become a Seller</a></li>-->
                                <!--<li class="messages-trigger js-mark" *ngIf="userLoggedIn==true">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Messages</a>
                                    <section class="dropdown-menu hidden-xs">
                                        <div>
                                            <ul class="notification-wrapper" data-type="notifications">

                                                <li class="notification-block">
                                                    <a href="#"></a>


                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/profile-photo.jpg" alt="ryangillam" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p class="text-long"><strong>ryangillam</strong>: "Sorry. That was the wrong file. This is it."</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">Articles &nbsp; Blog Posts</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>

                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/boy.jpg" alt="jamilkawsher2" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p><strong>jamilkawsher2 delivered</strong> your order.</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">SEO</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>
                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/girl.png" alt="ryangillam" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p class="text-long"><strong>ryangillam</strong>: "Sorry. That was the wrong file. This is it."</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">Articles &nbsp; Blog Posts</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>

                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/boy.jpg" alt="jamilkawsher2" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p><strong>jamilkawsher2 delivered</strong> your order.</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">SEO</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>
                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/girl.png" alt="ryangillam" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p class="text-long"><strong>ryangillam</strong>: "Sorry. That was the wrong file. This is it."</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">Articles &nbsp; Blog Posts</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>

                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/boy.jpg" alt="jamilkawsher2" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p><strong>jamilkawsher2 delivered</strong> your order.</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">SEO</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>


                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/girl.png" alt="ryangillam" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p class="text-long"><strong>ryangillam</strong>: "Sorry. That was the wrong file. This is it."</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">Articles &nbsp; Blog Posts</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>

                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/boy.jpg" alt="jamilkawsher2" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p><strong>jamilkawsher2 delivered</strong> your order.</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">SEO</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>


                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/girl.png" alt="ryangillam" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p class="text-long"><strong>ryangillam</strong>: "Sorry. That was the wrong file. This is it."</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">Articles &nbsp; Blog Posts</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>
                                                <li class="notification-block">
                                                    <a href="#"></a>

                                                    <figure>
                                                        <span class="user-pict-55"><img src="assets/img/boy.jpg" alt="jamilkawsher2" width="55" height="55"></span>
                                                    </figure>
                                                    <div class="content">
                                                        <p><strong>jamilkawsher2 delivered</strong> your order.</p>
                                                        <footer>
                                                            <time>1 year ago</time>
                                                            <span class="sub-category">SEO</span> &nbsp; <span class="fa fa-arrow-circle-right"></span>
                                                        </footer>
                                                    </div>
                                                </li>


                                            </ul>


                                        </div>


                                        <footer class="footerblock">
                                            <a href="javascript:void(0)" routerLink="/my-notifications" class="fa fa-gear"></a>
                                            <a href="javascript:void(0)" routerLink="/my-notifications" class="btn-see-all">See All in Notifications</a>
                                        </footer>
                                    </section>
                                </li>-->
                                <!--<li *ngIf="userLoggedIn==true"><a href="javascript:void(0)">Saved</a></li>
                                <li *ngIf="userLoggedIn==true"><a href="javascript:void(0)">Order</a></li>-->
                                <li *ngIf="userLoggedIn==true">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="topuserpic"><img alt="" src="assets/img/profile-photo.jpg" /></span>
                                        <span class="useronline-status online"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" routerLink="/my-profile">Profile</a></li>
                                        <li><a href="javascript:void(0)" routerLink="/dashboard">New Proposal</a></li>
                                        <li><a href="javascript:void(0)" routerLink="/dashboard">Current Awarded Project</a></li>
                                        <li><a href="javascript:void(0)" routerLink="/dashboard">Dashoard</a></li>
                                        <!--<li><a href="javascript:void(0)" routerLink="/my-project">Manage Projects</a></li>
                                        <li><a href="javascript:void(0)" routerLink="/create-project">Post Project</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript:void(0)" routerLink="/my-settings">Settings</a></li>-->
                                        <li><a href="javascript:void(0)">Help</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript:void(0)" (click)="userLoggout()">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <div class="clearfix"></div>
                    <!--<div class="cbprow">
                        <div class="container">
                            <nav id="cbp-hrmenu" class="cbp-hrmenu">
                                <ul>
                                        <li *ngFor="let category of allCategoryList" (click)="filterSubCategories(category.id)">
                                                <a href="javascript:void(0)">{{category.name}} <i class="fa fa-angle-down"></i> </a>
                                                <div class="cbp-hrsub" id="cat_{{category.id}}" style="display:none;">
                                                    <div class="cbp-hrsub-inner">
                                                        <div>
                                                            <ul>
                                                                <li><a *ngFor="let subCategory of filteredSubCategoryList" href="javascript:void(0)" routerLink="/project-listing">{{subCategory.name}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                </ul>
                            </nav>
                        </div>
                    </div>-->

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->

        </nav>

    </div><!--menu-->
    <!-- #navbar-name-here -->
   

    
</div>
<div class="clear"></div>
