<div class="row">
    <section class="panel" id="notifi">
        <table>
            <thead><tr><td>Notifications</td><td width="250px">Type</td><td >Email</td></tr></thead>
            <tr>
                <td><p>For important updates regarding your Fiverr activity, certain notifications cannot be disabled.</p> </td>
            <td>Inbox Message</td>
               <td> <input type="checkbox" /></td>
            </tr>
            <tr>
                <td></td>
                <td>Other Message</td>
                <td> <input type="checkbox" /></td>
            </tr>
            <tr>
                <td></td>
                <td>Order Message</td>
                <td> <input type="checkbox" /></td>
            </tr>
        </table>
    </section>
</div>