<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-3 logedp">
           <app-left-profile></app-left-profile>
        </div>
        <div class="col-md-9 logedp"><div class="dbsidebar"><div class="content"><!--<img alt="" src="img/prom-img.png" />--> 
                                                                <div id="process-sm">
                                                                    <div class="title wow flipInX animated" data-wow-offset="10" data-wow-duration="1.5s">
                                                                        <h2>how it works</h2>
                                                                    </div>
                                                                    <div >

                                                                        <div>
                                                                            <div class="col-md-3 textalign wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/profile.svg" width="70" height="70" /></span><div><p>CompleteYour Profile</p></div></div>
                                                                            <div class="col-md-3 textalign wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/browse.svg" width="70" height="70" /></span><div><p>Browse the JOb accordingly</p></div></div>
                                                                            <div class="col-md-3 textalign wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/bid.svg" width="70" height="70" /></span><div><p>Bid on Projects which suit you</p></div></div>
                                                                            <div class="col-md-3 textalign wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1s"><span class="wcircle"><img alt="" src="assets/img/reward.svg" width="70" height="70" /></span><div><p>Get the Reward on Project</p></div></div>
                                                                        </div>
                                                                        <div class="clear">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                                <app-recently-viewed></app-recently-viewed>

            </div></div></div>
    </div>
</div>
<!--<div class="blockcontainer">
    <div class="fullwidthbanner-container">
        <div class="container">

            <div class="row">
                <app-recently-viewed></app-recently-viewed>
                </div>
        </div>
    </div>

</div>-->
<app-footer></app-footer>
