<div class="clear"></div>
<div class="footer-v3">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('about-us')">About Us</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('careers')">Careers</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('press')">Press</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('faq')">FAQ</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('trust-safety')">Trust & Safety</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('terms-service')">Terms of Service</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('privacy-policy')">Privacy Policy</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage('partnership')">Partnership</a></li>
                        </ul>

                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                                <li><a href="javascript:void(0)" (click)="loadContentPage('help-client')">Help & Support - Client</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage('help-freelancers')">Help & Support - Freelancers</a></li>
                            </ul>

                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Categories</h3>
                        <ul>
                                <li *ngFor="let category of allCategoryList">
                                    <a href="javascript:void(0)"  routerLink="/project-listing">{{category.name}}</a>
                                </li>
                            </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>How it works</h3>
                    </div>
                   
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Community</h3>
                        <ul>
                                <li><a href="javascript:void(0)" (click)="loadContentPage('forum')">Forum</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage('blogs')">Blogs</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage('events')">Events</a></li>
                                <li><a href="javascript:void(0)" routerLink="/register/0">Join as Freelancer</a></li>
                            </ul>


                    </div>
                </div><!--/.col-md-3-->

            </div><!--/.col-md-3-->
        </div>

    </div>
    <!--/footer-->

    <div class="copyright">
        <div class="container">
            <hr />
            <div class="row">
                <div>
                    <p>
                        2018© All Rights Reserved. &nbsp;
                        <a href="javascript:void(0)" (click)="loadContentPage('privacy-policy')">Privacy Policy</a> | <a href="javascript:void(0)" (click)="loadContentPage('terms-service')">Terms of Service</a> | <a href="javascript:void(0)" (click)="loadContentPage('site-map')">Sitemap</a>
                    </p>
                </div><hr />
                <div class="col-md-10 socialmedia">
                    <ul class="pull-left">
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="https://www.facebook.com" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="https://twitter.com" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="linkedin" href="https://www.linkedin.com" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="GooglePlus" href="https://Googleplus.com" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="pinterest" href="https://www.pinterest.com" target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="instagram" href="https://www.instagram.com" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">

                    <!--<select><option>English</option><option>Arabic</option></select>-->
                </div>
            </div>
        </div>
    </div><!--/copyright-->
    
</div>
