<div class="clear"></div>
<div class="footer-v3">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="javascript:void(0)" (click)="loadContentPage()">FAQs</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage()">For The Clinic</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage()">Download</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage()">Access Your Super Steps</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage()">Career</a></li>
                            <li><a href="javascript:void(0)" (click)="loadContentPage()">Privacy Policy</a></li>
                        </ul>

                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Quick Links</h3>
                        <ul>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">FAQs</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">For The Clinic</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Download</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Access Your Super Steps</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Career</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Privacy Policy</a></li>
                            </ul>

                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Quick Links</h3>
                        <ul>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">FAQs</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">For The Clinic</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Download</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Access Your Super Steps</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Career</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Privacy Policy</a></li>
                            </ul>

                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Resources</h3>
                        <ul>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">FAQs</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">For The Clinic</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Download</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Access Your Super Steps</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Career</a></li>
                                <li><a href="javascript:void(0)" (click)="loadContentPage()">Privacy Policy</a></li>
                            </ul>


                    </div>
                </div><!--/.col-md-3-->

            </div><!--/.col-md-3-->
        </div>

    </div>
    <!--/footer-->

    <div class="copyright">
        <div class="container">
            <hr />
            <div class="row">
                <div>
                    <p>
                        2018© All Rights Reserved. &nbsp;
                        <a href="javascript:void(0)" (click)="loadContentPage()">Privacy Policy</a> | <a href="javascript:void(0)" (click)="loadContentPage()">Terms of Service</a> | <a href="javascript:void(0)" (click)="loadContentPage()">Sitemap</a>
                    </p>
                </div><hr />
                <div class="col-md-10 socialmedia">
                    <ul class="pull-left">
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="https://www.facebook.com" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="https://twitter.com" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="linkedin" href="https://www.linkedin.com" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="GooglePlus" href="https://Googleplus.com" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="pinterest" href="https://www.pinterest.com" target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="instagram" href="https://www.instagram.com" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                        <select [(ngModel)]="selectedLanguage" name="selectedLanguage" (ngModelChange)="changeSelectedLanguage($event)">
                                <option value='1'>English</option>
                                <option value='2'>Arabic</option>
                        </select>
                    <!--<select><option>English</option><option>Arabic</option></select>-->
                </div>
            </div>
        </div>
    </div><!--/copyright-->
    
</div>