<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="join"><h2>Account Password</h2></div>
            <div class="slogo"><img src="assets/img/slogo.png" /></div>
            <div class="line"></div>
                            <div>
                                    <!--<div class="proinfo">
                                        <div class="proinfo-row nav nav-tabs">
                                            <div class="proinfo-step">
                                                <button type="button" class="btn profin-circle {{userType=='0' ? 'btn-info': 'btn-default'}}" data-toggle="tab" href="#menu1" (click)="setUserType('0')">1</button>
                                                <p>Register As Freelancer</p>
                                            </div>
                                            <div class="proinfo-step">
                                                <button type="button" class="btn profin-circle {{userType=='1' ? 'btn-info': 'btn-default'}}" data-toggle="tab" href="#menu1" (click)="setUserType('1')">2</button>
                                                <p>Register As Employer</p>
                                            </div>
                                            
                                        </div>
                                    </div>-->
                                    <div class="tab-content">
                                            
                                        <div id="menu1" class="tab-pane fade active in">
                                                <div class="main">
                                                <form #formSignUp="ngForm" >
                                                        <input type="password" class="form-control" placeholder="Password" 
                                                        required [(ngModel)]="fbPassword" name="fbPassword">
                                                        <button class="btn continuebtn" 
                                                        (click)="fbSignUpMethod();" [disabled]="!formSignUp.valid">SIGN UP</button>
                                                        <span class="clearfix"></span>
                                                    </form>
                                                </div>
                                        </div>
                                    
                                    </div>
                               
                            </div>
        
    </div>
</div>
<app-footer></app-footer>
