<div>
<div class="prosearch">
  <div class="problock">
      <a href="javascript:void(0)" (click)="projectDetail()">
          <div>
              <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
              <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
              <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
          </div>
      </a>
      <div class="tag">
          <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
      </div>
  </div>
  <div class="problock">
      <a href="javascript:void(0)" (click)="projectDetail()">
          <div>
              <div><h1>Interactive infographic designer needed</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
              <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
              <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
          </div>
      </a>
      <div class="tag">
          <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Infographic</a></span>
      </div>
  </div>
  <div class="problock">
      <a href="javascript:void(0)" (click)="projectDetail()">
          <div>
              <div><h1>Interactive infographic designer needed</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
              <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
              <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
          </div>
      </a>
      <div class="tag">
          <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Infographic</a></span>
      </div>
  </div>
  <div class="problock">
      <a href="javascript:void(0)" (click)="projectDetail()">
          <div>
              <div><h1>We Need Website Desiner</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
              <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
              <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
          </div>
      </a>
      <div class="tag">
          <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Wordpress</a></span>
      </div>
  </div>
  <div class="problock">
      <a href="javascript:void(0)" (click)="projectDetail()">
          <div>
              <div><h1>Interactive infographic designer needed</h1><span class="userstars"><i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star orang"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><label>(100)</label></span></div>
              <div class="lbl"><span><strong>Fixed Price</strong> $250</span>&nbsp;<span class="pull-right"><strong>Posted</strong> 19 hour ago</span></div>
              <div class="userdesc">We need a freelancer with both excellent design and interactive media skills. The deliverable is an interactive infographic optimised for mobile and easily shared across social. It will allow the user to understand different possible...</div>
          </div>
      </a>
      <div class="tag">
          <span><a href="">CSS</a></span><span><a href="">HTML</a></span><span><a href="">Website</a></span><span><a href="">Infographic</a></span>
      </div>
  </div>


</div>
<div style="text-align:center" aria-label="Page navigation">
  <ul class="pagination">
      <li>
          <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li>
          <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
  </ul>
</div>
</div>