<app-header></app-header>
<div class="wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </div>
    <div class="cleafix"></div>
    
    <div>
        <div class="container">
            <div class="col-md-3">
                <app-search-filter></app-search-filter>
            </div>
            <div class="col-md-9">
                <app-projects-component></app-projects-component>
            </div>
        </div>
    </div>

    

</div>
<!-- Footer simple BEGIN -->
<app-footer></app-footer>