<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="{{financialTab=='0' ? 'active': ''}}" (click)="setFinancialTabs('0')">
      <a href="#transaction" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">All Transactioons </a>
  </li>
  <li role="presentation" class="{{financialTab=='1' ? 'active': ''}}" (click)="setFinancialTabs('1')">
      <a href="#milestone" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Milestone</a>
  </li>


</ul>

<div class="tab-content tabbg">
  <div role="tabpanel" class="tab-pane active" id="transaction">
      <div class="main-table">
          <table>
              <thead>
                    <tr class="js-header-titles">
                      <td>
                          Date
                      </td>
                      <td>
                          <a href="#">Transaction</a>
                      </td>
                     
                      <td>
                          <a href="#">Amount</a>
                      </td>
                     
                  </tr>
              </thead>
              <tbody>
                  <tr>
                     
                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
</td>
                      <td class="text-simple ">$255</td>
                      
                     
                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
                      </td>
                      <td class="text-simple ">$255</td>

                     
                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
                      </td>
                      <td class="text-simple ">$255</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
                      </td>
                      <td class="text-simple ">$255</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
                      </td>
                      <td class="text-simple ">$255</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
                      </td>
                      <td class="text-simple ">$255</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td class="profile-hint ">
                          <div class="buyseller">Done milestone payment from <a href="#">creativeguruz</a> for project <a href="#">Website Changes</a> (Partial payment for project) (USD)</div>
                      </td>
                      <td class="text-simple ">$255</td>


                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="milestone">
      <div class="main-table">
          <table>
              <thead>
                  <tr class="js-header-titles">
                      <td>
                          Created Date
                      </td>
                      <td>
                         Employer
                      </td>

                      <td>
                          Project Name
                      </td>
                      <td>
                          Amount
                      </td>
                      <td>
                          Description
                      </td>
                      <td>
                          Status
                      </td>
                  </tr>
              </thead>
              <tbody>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td><div class="buyseller"><a href="#">creativeguruz</a></div></td>
                      <td><div class="buyseller"><a href="#">I Need Some Graphics Design</a></div></td>
                      <td class="text-simple ">$255</td>
                      <td>
                          <div>Initial Milestone</div>
                      </td>
                      <td class="text-simple ">Released</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td><div class="buyseller"><a href="#">creativeguruz</a></div></td>
                      <td><div class="buyseller"><a href="#">I Need Some Graphics Design</a></div></td>
                      <td class="text-simple ">$255</td>
                      <td>
                          <div>Initial Milestone</div>
                      </td>
                      <td class="text-simple ">Released</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td><div class="buyseller"><a href="#">creativeguruz</a></div></td>
                      <td><div class="buyseller"><a href="#">I Need Some Graphics Design</a></div></td>
                      <td class="text-simple ">$255</td>
                      <td>
                          <div>Initial Milestone</div>
                      </td>
                      <td class="text-simple ">Released</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td><div class="buyseller"><a href="#">creativeguruz</a></div></td>
                      <td><div class="buyseller"><a href="#">I Need Some Graphics Design</a></div></td>
                      <td class="text-simple ">$255</td>
                      <td>
                          <div>Initial Milestone</div>
                      </td>
                      <td class="text-simple ">Released</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td><div class="buyseller"><a href="#">creativeguruz</a></div></td>
                      <td><div class="buyseller"><a href="#">I Need Some Graphics Design</a></div></td>
                      <td class="text-simple ">$255</td>
                      <td>
                          <div>Initial Milestone</div>
                      </td>
                      <td class="text-simple ">Released</td>


                  </tr>
                  <tr>

                      <td class="profile-hint">
                          <div class="fake-hint-wrap user-nav">
                              17 Mar 2019 15:33
                          </div>
                      </td>
                      <td><div class="buyseller"><a href="#">creativeguruz</a></div></td>
                      <td><div class="buyseller"><a href="#">I Need Some Graphics Design</a></div></td>
                      <td class="text-simple ">$255</td>
                      <td>
                          <div>Initial Milestone</div>
                      </td>
                      <td class="text-simple ">Released</td>


                  </tr>
              </tbody>
          </table>
      </div>

  </div>
  





</div>
