<ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{myProjectTab=='0' ? 'active': ''}}" (click)="setmyProjectTabs('0')"><a href="#01" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Current Work <span class="notibadge">03</span> </a></li>
        <li role="presentation"  class="{{myProjectTab=='1' ? 'active': ''}}" (click)="setmyProjectTabs('1')"><a href="#02" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Past Work <span class="notibadge">03</span></a></li>
</ul>
<div class="tab-content tabbg">
    <div role="tabpanel" class="tab-pane active" id="01">
        <div class="main-table">
            <table>
                <thead><tr><td colspan="3"></td><td>Order Date</td><td>Due on</td><td>Total</td><td class="t-a-center" colspan="2">Status</td></tr></thead>
                <tbody>
                    <tr>
                        <td><img src="assets/img/boy.jpg"></td>
                        <td ><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td >Jun 05, 2017</td>
                        <td >Jun 06, 2017</td>
                        <td >$6.00</td>
                        <td><span class="labelbg label-default">In Progress</span></td>
                    </tr>
                    <tr>
                        <td ><img src="assets/img/girl.png"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/boy.jpg"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-danger">Cancel</span></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/girl.png"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-warning">Not Satified</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="02">
        <div class="main-table">
            <table>
                <thead><tr><td colspan="3"></td><td>Order Date</td><td>Complete Date</td><td>Total</td><td class="t-a-center" colspan="2">Status</td></tr></thead>
                <tbody>
                    <tr>
                        <td><img src="assets/img/boy.jpg"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/girl.png"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/boy.jpg"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/girl.png"></td>
                        <td><a href="#">Write 2 x 500 word unique articles by native english writer</a></td>
                        <td class=""></td>
                        <td>Jun 05, 2017</td>
                        <td>Jun 06, 2017</td>
                        <td>$6.00</td>
                        <td><span class="labelbg label-warning">Dispute</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div><!--02-->
</div>