<div class="infocanvas">
  <header class="step-header">
      <h1>Personal Info</h1>
      <p>Tell us a bit about yourself. This information will appear on your public profile, so that potential buyers can get to know you better.</p><small>* Mandatory fields</small>
      <hr>
  </header>
  <div class="info-field ">
      <aside>
          <h3>Full Name*</h3>
          <div class="sub-header">Only visible to you</div>
      </aside>
      <div class="field-content">
          <div class="full-name">
              <div class="full-name-inputs">
                  <input type="text" name="first_name" class="first-name" value="waqas" maxlength="35" placeholder="First Name">
                  <input type="text" name="last_name" class="last-name" value="khan" maxlength="35" placeholder="Last Name">
              </div>
          </div>
      </div>
  </div>
  <div class="info-field profile-image">
      <aside><h3>Profile Picture*</h3></aside>
      <div class="field-content">
          <section class="profile-photo">
              <div class="user-profile-image">
                  <label class="user-pict user-pict-undefined editable" for="profile_image">
                      <input type="file" accept="image/png,image/jpeg" class="hidden" id="profile_image" name="profile[image]"><img src="../img/fre3.jpg" class="user-pict-img" alt="">
                  </label>
              </div>
          </section>
      </div>
  </div>
  <div class="info-field">
      <aside><h3>Description*</h3></aside>
      <div class="field-content">
          <div class="inner-row description">
              <textarea placeholder="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
              <div>
                  <span>min. 150 characters</span><span class="char-count">445 / 600</span>
              </div>
          </div>
      </div>
  </div>
  <div class="info-field">
      <aside><h3>Languages*</h3></aside>
      <div class="field-content">
          <div class="inner-row languages">
              <table>

                  <tr>
                      <td>

                          <label class="checkcontainer">
                              English
                              <input type="radio" checked="checked" name="radio">
                              <span class="radiobtn"></span>
                          </label>
                          <label class="checkcontainer">
                              Arabic
                              <input type="radio" name="radio">
                              <span class="radiobtn"></span>
                          </label>

                      </td>

                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>