<form class="form-personalInfo" #formPersonalInfo="ngForm">
<div class="infocanvas" id="personalinfo">
  <header class="step-header">
      <h1>Personal Info</h1>
      <p>Tell us a bit about yourself. This information will appear on your public profile, so that potential buyers can get to know you better.</p><small>* Mandatory fields</small>
      <hr>
  </header>
  <div class="info-field ">
      <aside>
          <h3>Full Name*</h3>
          <div class="sub-header">Only visible to you</div>
      </aside>
      <div class="field-content">
          <div class="full-name">
              <div class="full-name-inputs">
                  <input type="text" name="first_name" [(ngModel)]="first_name" class="first-name" maxlength="35" placeholder="First Name" required>
                  <input type="text" name="last_name" [(ngModel)]="last_name" class="last-name" maxlength="35" placeholder="Last Name" required>
              </div>
          </div>
      </div>
  </div>
  <div class="info-field profile-image">
    <aside><h3>Profile Picture*</h3></aside>
    <div class="field-content">
        <section class="profile-photo">
            <div class="user-profile-image">
                    <div class="imgCropperPreviewResult" *ngIf="dataPersonalImage.image" >
                            <img [src]="dataPersonalImage.image" [width]="personalWidth"
                            [height]="personalHeight">
                            </div>
                  
                            <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" 
                            capture="camera" multiple (change)="personalFileChangeListener($event)">
                            <!--<button ion-button (click)="editImage('personal');" *ngIf="isImageExist">
                              <ion-icon name="md-create"></ion-icon>
                            </button>-->
                <!--<label class="user-pict user-pict-undefined editable" for="profile_image">
                    <input type="file" accept="image/png,image/jpeg" class="hidden" id="profile_image" name="profile[image]"><img src="../img/fre3.jpg" class="user-pict-img" alt="">
                </label>-->
            </div>
        </section>
    </div>
</div>
<div class="info-field ">
    <aside>
        <h3>Country*</h3>
    </aside>
    <div class="field-content">
        <div class="inner-row occupation">
            <div class="occupation-field">
                <select class="" [(ngModel)]="selectedCountry" name="selectedCountry" required>
                        <option *ngFor="let country of allCountryCodes" value={{country.name}}>{{country.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="info-field ">
    <aside>
        <h3>Residence Country*</h3>
    </aside>
    <div class="field-content">
        <div class="inner-row occupation">
            <div class="occupation-field">
                <select class="" [(ngModel)]="selectedResidencyCountry" name="selectedResidencyCountry" required>
                        <option *ngFor="let country of allCountryCodes" value="{{country.name}}">{{country.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
  <div class="info-field">
    <aside><h3>Contact Number *</h3></aside>
    <div class="field-content">
        <div class="inner-row occupation">
            <input type="text" name="contact_number" [(ngModel)]="contact_number"
             placeholder="Contact Number" required >
        </div>
    </div>
</div>
<div class="info-field">
    <aside><h3>Home Address *</h3></aside>
    <div class="field-content">
        <div class="full-name-inputs">
            <input type="text" name="home_address" [(ngModel)]="home_address" placeholder="Home Address" required>
        </div>
    </div>
</div>
<div class="info-field">
    <aside><h3>Age *</h3></aside>
    <div class="field-content">
        <div class="full-name-inputs">
            <input type="text" name="age" [(ngModel)]="age" placeholder="Age" required>
        </div>
    </div>
</div>
  
  <div class="info-field">
      <aside><h3>Description*</h3></aside>
      <div class="field-content">
          <div class="inner-row description">
              <!--<textarea placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." [(ngModel)]="description" name="description" required></textarea>-->
              <div id="user_description_editor" contenteditable="true"  class="homeDescTxt"></div>
            </div>
      </div>
  </div>
  <div class="info-field">
      <aside><h3>Languages*</h3></aside>
      <div class="field-content">
          <div class="inner-row languages">


                          <label class="checkcontainer">
                              English
                              <input type="radio" [ngModel]="language_selected" checked="checked" name="language" value="English">
                              <span class="radiobtn"></span>
                          </label>
                          <label class="checkcontainer">
                              Arabic
                              <input type="radio" [ngModel]="language_selected" name="language" value="Arabic">
                              <span class="radiobtn"></span>
                          </label>


          </div>
      </div>
  </div>
        
</div>
<ul class="list-unstyled list-inline pull-right">
        <li><button type="button" class="btn btn-info next-step" [disabled]="!formPersonalInfo.valid" (click)="savePersonalInfo()">Continue</button></li>
    </ul>
</form>
